<form id="assetFindForm" action="javascript:void(0)">
    <div class="grid-x grid-padding-x">
        <div class="cell large-6 small-6">
            <span class="label">Asset Maker</span>
            <select type="text" id="findAssetMaker" maxlength="10">
                <option value="choose">Choose</option>
            </select>
        </div>
        <div class="cell large-6 small-6">
            <span class="label">Asset Model</span>
            <select type="text" id="findAssetModel" maxlength="10">
                <option value="choose">Choose</option>
            </select>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-6 small-6">
            <span class="label">Asset Tag</span>
            <input type="number" id="findAssetTag" maxlength="10">
        </div>
        <div class="cell large-6 small-6">
            <span class="label">Location</span>
            <input type="text" id="findAssetLocation" maxlength="10">
        </div>
    </div>
</form>
<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell large-12 small-12">
        <input type="submit" class="success_bdh button large expanded" id="assetFindSubmit" value="Find asset">
    </div>
</div>