<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-12 text-center" id="scanner-container"></div>
</div>
<div class="grid-x grid-padding-y">
    <div class="cell small-12 large-12 text-center">
        <input type="submit" class="button large expanded" id="btn" value=": S C A N :">
        <input type="button" id="btn" value="Scan">
    </div>
</div>
<div class="grid-x grid-padding-y">
    <div class="cell small-2 large-4"></div>
    <div class="cell small-8 large-4 text-center">
        <input type="number" id="bcResult">
    </div>
    <div class="cell small-2 large-4"></div>
</div>
</div>
<div class="grid-x grid-padding-y">

</div>