<div class="cell small-12 text-center" id="camera">
    <video id="player" autoplay></video>
    <canvas id="canvas" width=320 height=240></canvas>
    <button id="capture" class="button large expanded">Capture</button>
</div>