<% include public/views/header.ejs %>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 text-center">
            <h3>PSP Asset Management</h3>
        </div>
    </div>
    <% include public/views/itemEntry.ejs %>
    <% include public/views/camera.ejs %>
    <% include public/views/itemList.ejs %>

</div>
<!-- SCRIPTS -->
<script src="public/javascripts/main.js" type="module"></script>

<% include public/views/footer.ejs %>