<div class="grid-x grid-padding-x grid-padding-y">
    <form id="itemFindForm" action="javascript:void(0)">
        <div class="grid-x grid-padding-x">
            <div class="cell large-12 small-12">
                <span class="label">Item Description</span>
                <input type="text" id="itemDescription" maxlength="10">
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-12 small-12">
                <span class="label">Asset Tag</span>
                <input type="number" id="assetTag" maxlength="10">
            </div>
        </div>
    </form>
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
            <input type="submit" class="success button large expanded" id="itemFindSubmit" value="Find Item">
        </div>
    </div>
</div>