    <!--<form id="itemEntryForm" action="javascript:void(0)">-->
    <form id="itemEntryForm">
        <div class="grid-x grid-padding-x">
            <div class="cell large-6 small-6">
                <span class="label">Asset Tag</span>
                <input type="number" id="assetTag" maxlength="10" required>
            </div>
            <div class="cell large-6 small-6">
                <span class="label">Item Maker</span>
                <input type="text" id="itemMaker" required>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-12 small-12">
                <span class="label">Item Model</span>
                <input type="text" id="itemModel">
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-6 small-6">
                <span class="label">Serial Number</span>
                <input type="text" id="serialNumber">
            </div>
            <div class="cell large-6 small-6">
                <span class="label">Asset Type</span>
                <select id="assetType" required>
                    <option></option>
                    <option value="tower">Computer Tower</option>
                    <option value="lcd_monitor">LCD Monitor</option>
                    <option value="printer">Printer</option>
                    <option value="doc_cam">Document Camera</option>
                    <option value="phone">Phone</option>
                    <option value="projector">Projector</option>
                    <option value="airtame">Air Tame</option>
                    <option value="laptop">Laptop</option>
                    <option value="ipad">iPad</option>
                    <option value="consumable">Consumable</option>
                </select>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-6 small-12">
                <span class="label">Item Description</span>
                <input type="text" id="itemDescription">
            </div>
            <div class="cell large-6 small-12">
                <span class="label">Item Location</span>
                <input type="text" id="itemLocation">
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-6 small-6">
                <span class="label">Purchase Date</span>
                <input type="date" id="purchaseDate">
            </div>
            <div class="cell large-6 small-6">
                <span class="label">Item Warranty (Months)</span>
                <input type="number" id="itemWarranty" maxlength="3">
            </div>
        </div>
        <div class="grid-x grid-padding-x text-center">
            <div class="cell large-4 small-4">
                <span class="label">Title 1</span>
                <input type="checkbox" value="1" id="title1" name="titleCheckBox">
            </div>
            <div class="cell large-4 small-4">
                <span class="label">Title 9</span>
                <input type="checkbox" value="1" id="title9" name="titleCheckBox">
            </div>
            <div class="cell large-4 small-4">
                <span class="label">31a</span>
                <input type="checkbox" value="1" id="31a" name="titleCheckBox">
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <input type="submit" class="success_bdh button large expanded" id="itemSubmit" value="Submit Item">
            </div>
        </div>
    </form>
    <div class="grid-x grid-padding-x text-center">
        <div class="cell large-12 small-12">
            <p>:-D</p>
        </div>
    </div>