<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="PSP asset management software" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#1779ba" />
    <title>PSP Asset Management</title>
    <link href="/public/css/overrides.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/favicons/android-chrome-192x192.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>