<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell small-6 large-6 text-center">
        <input type="button" class="button large expanded bdh-btn" id="assetEntryBtn" value="Enter Asset">
    </div>
    <div class="cell small-6 large-6 text-center">
        <input type="button" class="button large expanded bdh-btn" id="assetFindBtn" value="Find Asset">
    </div>
</div>
<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell small-12 large-12 text-center">
        <input type="button" class="button large expanded bdh-btn" id="assetListBtn" value="List Assets">
    </div>
</div>
<div class="grid-x grid-padding-x grid-padding-y" id="splashScanDiv">
    <div class="cell small-12 large-12 text-center">
        <input type="button" class="success_bdh button large expanded bdh-btn" id="splashScanBtn" value="Scan Asset">
    </div>
</div>
<div class="grid-x grid-padding-x grid-padding-y text-center" id="scannerContainer"></div>